<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<div class="titleCenter">
<img src="https://thumbs.gfycat.com/FrighteningZestyFrenchbulldog-small.gif" alt="Ghost Party!"><br>
</div>

<br>
<div class="gutsCenter">
<!-- RIP RIP your plant<%= @name %> died because of <%= Plant.death_message.sample %><br> -->
RIP RIP your plant<%= @name %> died<br>
</div>
