<link rel="stylesheet" href="flowershop.css">
<head>
  <style>
    a { color: #FFFFF0; } /* CSS link color */
  </style>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
<h1 class = "banner">Pick a Plant to Interact With!</h1>



  <% @plants.each do |plant| %>

  <div class="card">
    <%= link_to image_tag(plant.img_url), plant, class:"card"%>
    <!-- <div class="container"> -->
        <%=link_to plant.name, plant, class:"card" %><br>
        <%= button_to "Kill #{plant.name}", plant, method: :delete, data: {confirm: "Are you sure you want to kill #{plant.name}?"},class:"card" %>
    </div>
  <!-- </div> -->



  <% end %>
</body>
