<link rel="stylesheet" href="seed.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<h1>Here's a bag of seeds</h1>
<!-- <img src="/app/assets/images/Plant_Gifs/Seeds/Seed Packet .gif"><br> -->
<img src="/app/assets/images/Plant_Gifs/Seeds/Seed Packet - Open.gif"><br>
<!--  tag the actions below as action buttons-->
<p>Why don't you try adding water or soil? </p>
<div class="action_bar">
  <h2>-Actions-</h2>
  <% action = Action.find_by(name:"Add Water") %>
  <% plant = current_user.plants.first %>
  <%= button_to action.name, "/plants/#{plant.id}/actions/#{action.id}"%><br>
  <% action = Action.find_by(name: "Add Soil") %>
  <%= button_to action.name, "/plants/#{plant.id}/actions/#{action.id}"%><br>
</div>
