<link rel="stylesheet" href="homepage.css">
 <body>
<div class="titleCenter">
 <h1 class="headerReplacement">Welcome to Neoplants!</h1></div>
  <div class="gutsCenter"><a href="/login"><div class="loginReplacement">
</div></a>
<a href="/signup"><div class="signupReplacement"></div></a></div>

</body>
